input {
    width: 100%;
    border: 1px solid lightgray;
}

textarea {
    width: 100%;
    max-width: 100%;
    border: 1px solid lightgray;
}

button {
    color: white;
    font-size: 24px;
    font-weight: 400px;
    text-align: center;
    line-height: 50px;
}

.button-flex-row {
    display: flex;
    width: fit-content;
    gap: 20px;
    margin: 0 auto;
}

.home-button {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin: auto;
    text-align: center;
    color: #2a9d8f;
    line-height: 50px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #e76f51;
    font-size: 24px;
    font-weight: 400;
    overflow: clip;
    cursor: pointer;
}