<h1 style="text-align: center; margin: 50px 0px;">
	<span style="border-style: solid none solid none; border-color: dodgerblue; padding: 10px;">
		New Todo
	</span>
</h1>

<%= render 'form', todo: @todo %>