@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

* {
  font-family: 'Source Sans Pro', sans-serif;
}

.header {
  display: flex;
  align-items: center;
  width: 30%;
  margin: 0px auto;
  margin-bottom: 50px;
  color: #264653;
  border-bottom: 2px solid #2a9d8f;
}

.header p {
  margin-bottom: 0;
  margin-left: auto;
}
