input {
    width: 100%;
    border: 1px solid lightgray;
}

textarea {
    width: 100%;
    max-width: 100%;
    border: 1px solid lightgray;
}

button {
    color: white;
    font-size: 24px;
    font-weight: 400px;
    text-align: center;
    line-height: 50px;
}

.button-flex-row {
    display: flex;
    width: fit-content;
    gap: 20px;
    margin: 0 auto;
}