.todo-card {
    /* Add shadows to create the "card" effect */
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 800px;
    height: 20px;
    padding: 16px;
    margin: 0 auto;
    text-decoration: none;
    color: black;
}

.title-card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 800px;
    margin: 0px auto;
    background-color: #264653;
    color: white;
    padding: 16px;
}

.todo-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


.button-link-design {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin: auto;
    text-align: center;
    color: white;
    line-height: 50px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #e76f51;
    font-size: 24px;
    font-weight: 400;
    overflow: clip;
    cursor: pointer;
}

.button-link-design:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
}

.centering-div {
    width: fit-content;
    margin: 0 auto;
}

.top-button-flex-row {
    display: flex;
    width: 830px;
    margin: 0 auto;
    justify-content: center;
}

.sort-button-flex-row {
    display: flex;
    width: fit-content;
    margin-left: auto;
    align-items: center;
    gap: 5px;
}